@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #db1689;
    font-family: 'Karma', serif;
}

header {
    background-color: #E76ABB;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 0.9rem;
}

.h1title {
    margin-left: 10px;
    color: #fdfdfd;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 30px;
    font-size: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.h1hero {
    font-size: 60px;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(#db1689, #f1f0f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionhero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/majestic-mountain-peak-tranquil-winter-landscape-generated-by-ai_188544-15662.jpg?w=1060&t=st=1709906121~exp=1709906721~hmac=d5a3918726fc93854b9f565170efd1ee96fbbf050fb91cc6343b677548cf01a4);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sec {
    padding: 10px;
    width: auto;
    height: 150px;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boxc {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    
}

.circle1,
.circle2,
.circle3,
.circle4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #868686;
    margin: 0 10px;
    
}


/* ------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        list-style: none;
    }

    .hero-sec {
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .boxc {
        width: auto;
        height: auto;
    }

    .circle1,
    .circle2,
    .circle3,
    .circle4 {
        grid-template-columns: repeat(4, 1fr);
        flex-direction: column;
        width: 250px;
        height: 250px;
        margin: 10px;
    }

    .main-con {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    }

    .Card1,
    .Card2,
    .Card3 {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        list-style: none;
    }
    .circle1,
    .circle2,
    .circle3,
    .circle4 {
        grid-template-columns: repeat(4, 1fr);
        margin: 10px;
        width: 150px;
        height: 150px;
    }
    }

    .main-con {
        grid-template-columns: repeat(3, 1fr);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    }

    .Card1,
    .Card2,
    .Card3 {
        width: 100%;
    }


/* ------------------------------------------------ */
.main-con {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Card1,
.Card2,
.Card3 {
    width: 100%; /* Responsive width */
    max-width: 500px; /* Maximum width to maintain readability on larger screens */
    margin: 10px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px black;
    border: #000000;
}

.img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 10px 10px 0px 0px;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: #ffffff;
    background-color: #e76abb;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button a:hover {
    background-color: #d55e9d;
    transform: scale(1.05);
}

footer {
    background-color: #e76abb;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    width: auto;
}
.giffix {
    position: fixed;
    top: 70%;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 1000; 
    left: 90%;

}

.gif {
    display: flex;
    height: 15%; 
}

.gif img {
    max-width: 100%;
    max-height: 100%;
}
